@model Registro_Visitas_Renso_Soriano.Data.VisitsHistory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VisitsHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDeparture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDeparture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visitors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visitors.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VisitsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
